.style-font
{
  margin-right: auto;
  padding-right: 1px;
  text-align: right;
}
.flex-icons
{
  display: -webkit-flex;
  display: flex;
  text-align: right;
}
.img-logo
{
  padding-top: 8%;
}
.img-section
{

}
.three-img{
  padding-left: 100%;
}
.img-color1
{
  color: #02b3e4;
  font-size: 25px;
}
.img-color2
{
  color: #2d3c49;

}
.img-color3
{
  color: #7d97ad;
  font-size: 20px;
}
h2
{
    padding: 8px;
    margin: 8px;
}
.p1
{
  font-size: 20px;
}
.fa-5x
{
  padding-left: 70%;
}
.section-p
{
  padding-left: 70%;
}
.img-responsive
{
  image-orientation: 100%;
}
